.chatbox {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 30%;
    max-width: 867px;
    margin: 25px 10px;
    height: calc(100% - 50px);
    border: var(--border);
    border-radius: 5px;
    background: var(--chatbox-bg);
    box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
    margin-left: 285px !important;
}

#chat-pane {
    box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
}

.chatbox-header {
    display: flex;
    justify-content: space-between;
    border-bottom: var(--border);
    background: #eee;
    color: #666;
}

.chat-header {
    margin: 0 !important;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-col{
    bottom: 0;
    top: 40.5px;
    z-index: 1000;
    position: fixed;
    color: #fff;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 40px;
    padding-top: 15px;
    min-height: 100vh;
}

.chat-col.chat-opened {
    top: 55px;
    right: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.3s ease !important;
    -webkit-transition: all 0.3s ease !important;
    -moz-transition: all 0.3s ease !important;
}

#chat-messages{
    margin-bottom: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
    min-height: 342px;
}

#chat-messages::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;
}

.chat-row{
    height: 100%;
    overflow-x: scroll;
}

.header-chatbox {
    background: aliceblue;
}

.new-chat {
    position: absolute;
    top: 3px;
    left: 98px;
}