.chatbox {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 30%;
    max-width: 867px;
    margin: 25px 10px;
    height: calc(100% - 50px);
    border: var(--border);
    border-radius: 5px;
    background: var(--chatbox-bg);
    box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
    margin-left: 285px !important;
}

#chat-pane {
    box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
}

.chatbox-header {
    display: flex;
    justify-content: space-between;
    border-bottom: var(--border);
    background: #eee;
    color: #666;
}

.chat-header {
    margin: 0 !important;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#chat-messages {
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    min-height: 342px;
    background: antiquewhite;
    height: 342px;
}

#chat-messages::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;
}

.chat-row{
    height: 100%;
    overflow-x: scroll;
}

.header-chatbox {
    background: aliceblue;
}

.new-chat {
    position: absolute;
    top: 3px;
    left: 98px;
}

.sender-info{
    font-size: smaller;
    margin-top: 5px;
    align-self: flex-end;
    color: dimgray;
    opacity: 0.3;
}