.background-room {
    background-image: url('../img/img5.png');
    background-repeat: no-repeat;
    background-size: 2000px 1000px;
}

.container {
    position: absolute;
    bottom: 0;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(0);
}

ul {
    display: flex;
    font-weight: 700;
}

li {
    padding: 10px 25px;
    list-style: none;
    margin: 0;
    cursor: pointer;
    /* background: rgb(66, 182, 13); */
}

.more-none-flex {
    display: block;
    background: black;
    color: white;
    border-radius: 15px;
    padding: 0;
}

.more-none-flex li:hover {
    background: #585555;
    border-radius: 15px;
}

button {
    border-radius: 50% !important;
    width: 120%;
}

.microphone {
    width: 55px;
}

.more-display {
    position: absolute;
    bottom: 55px;
    left: 72%;
}

.muteMicrophone {
    width: 55px;
}

#show-video, #hide-video, #show-page, #hide-page, .modal-button, #closeModal {
    border-radius: unset !important;
}

#output {
	height: 400px; 
    background-color: white;
	margin: 1rem;
	padding: 1rem;
    width: 735px;
}

.tool-list {
	display: flex;
	flex-flow: row nowrap;
	list-style: none;
	padding: 0;
	margin: 1rem;
	overflow: hidden;
	border-radius: 10px;
}

.tool--btn {
	display: block;
	border: none;
	padding: .5rem;
	font-size: 20px;
}

#local {
    position: absolute;
    bottom: 0;
    width: 10%;
}

#editor-container {
    position: absolute;
    right: 5px;
}

#recording-options-modal {
    margin-top: 20px;
}